#regra aplicada somente para ignorar arquivos gerados durante a execução e mandar para o commit

# backend
__pycache__/
*.py[cod]
.venv/
venv/
*.env
instance/
.pytest_cache/
*.db
*.log
backend/uploads/*
!backend/uploads/.gitkeep

# frontend
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.cache/
frontend/.ng_build/
frontend/.env
frontend/.env.*

# build generico
dist/
build/

# IDE / SO
.vscode/
.idea/
*.iml
.DS_Store
Thumbs.db
